<!-- Footer Area -->
<footer id="footer" class="footer">
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>About Us</h2>
                        <p>{{aboutUs.description}}</p>
                        <!-- Social -->
                        <ul class="social">
                            <li *ngFor="let social of socialLinks">
                                <a [href]="social.url" target="_blank"><i [class]="social.icon"></i></a>
                            </li>
                        </ul>
                        <!-- End Social -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-footer f-link">
                        <h2>Quick Links</h2>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <ul>
                                    <li *ngFor="let link of quickLinksLeft">
                                        <a [routerLink]="link.url"><i class="fa fa-caret-right" aria-hidden="true"></i>{{link.label}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <ul>
                                    <li *ngFor="let link of quickLinksRight">
                                        <a [routerLink]="link.url"><i class="fa fa-caret-right" aria-hidden="true"></i>{{link.label}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>Open Hours</h2>
                        <p>{{openHours.description}}</p>
                        <ul class="time-sidual">
                            <li *ngFor="let hour of openHours.hours" class="day">
                                {{hour.day}} <span>{{hour.time}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Footer Top -->
    <app-copyright />
</footer>
<!--/ End Footer Area -->
